workflows/01-knowledge-ingestion.json
{
  "name": "ISQ - Knowledge Ingest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0a1c466e-d993-4384-a8a3-7385df74c4ec",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "2e2f19a9-134d-4103-af2c-5f0f826fc82c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        0
      ],
      "id": "b3db60d6-217a-4669-9411-0b43188aaa01",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        -96
      ],
      "id": "5a0a19c1-bdb9-446c-93c1-53e0b611e5cf",
      "name": "Extract from txt files"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        80
      ],
      "id": "ce57abbe-d7a5-4b89-bb93-391ddf89ab83",
      "name": "Extract from pdf files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4d5b4c2-e057-449c-ab4f-f950e1ae815c",
              "leftValue": "={{ $json.path.endsWith('.txt') }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "74366aa6-08b2-40cc-9626-1f265fbfa95f",
      "name": "If txt file"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{  $json.type }}",
                    "rightValue": "policy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "362f1adc-8fbc-420f-9848-dac9072fca1e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22d6130a-f1b8-435d-a90d-38f4cd1c5cd4",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "isq",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1664,
        0
      ],
      "id": "8b3ff7a5-8db0-4d46-84ad-830c0552e686",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return [\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Information_Security_Policy.pdf' } },\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Secure_Software_Development_Policy.pdf' } },\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Acceptable_Use_Policy.pdf' } },\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Business_Continuity_and_Disaster_Recovery_Policy.pdf' } },\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Incident_Response_Policy.pdf' } },\n    { json: { type: 'policy', path: '/home/node/.n8n-files/knowledge/policies/Northstar_Labs_Data_Protection_and_Retention_Policy.pdf' } },\n    { json: { type: 'isq', path: '/home/node/.n8n-files/knowledge/isqs/Northstar_Labs_Previous_ISQ_Completed_01.pdf' } },\n    { json: { type: 'isq', path: '/home/node/.n8n-files/knowledge/isqs/Northstar_Labs_Previous_ISQ_Completed_02.txt' } },\n    { json: { type: 'isq', path: '/home/node/.n8n-files/knowledge/isqs/Northstar_Labs_Previous_ISQ_Completed_03.pdf' } },\n  ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3936c06a-46db-42d0-a4b7-5a27c2c5b291",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const originals = $('Code').all();\n  return $input.all().map((item, i) => ({\n    json: { ...originals[i].json },\n    binary: item.binary,\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "4d30b54d-f823-4345-8e11-9cca1d7960f6",
      "name": "remap type and path"
    },
    {
      "parameters": {
        "jsCode": "const originals = $('remap type and path').all().map(i => i.json);\nconst pdfOriginals = originals.filter(o => !o.path.endsWith('.txt'));\nconst txtOriginals = originals.filter(o => o.path.endsWith('.txt'));\nconst orderedOriginals = [...pdfOriginals, ...txtOriginals];\n\nreturn $input.all().map((item, i) => ({\n  json: { ...orderedOriginals[i], text: (item.json.text || item.json.data )}\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        0
      ],
      "id": "2111fbab-937b-46f1-b65d-a47213543852",
      "name": "remap type and path 2"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "policy_store",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1936,
        -320
      ],
      "id": "58f8dc95-9f27-402c-a128-dc0bacec604f",
      "name": "policies store"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "isq_store",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1904,
        128
      ],
      "id": "ec539651-a49c-46fe-b3dc-19400034cf74",
      "name": "isqs store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1920,
        288
      ],
      "id": "04955f43-e03e-4093-b43a-d612e52c589e",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "RwCDW0hKt5d5Ty39",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2080,
        288
      ],
      "id": "ea6b7a62-15c8-4349-a262-0c88ae3a90cf",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1920,
        -160
      ],
      "id": "e4bde2c4-e824-4145-95f9-96e816586d3e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "RwCDW0hKt5d5Ty39",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2080,
        -160
      ],
      "id": "ebd4c283-243d-4388-9cd7-6a964e84d1ab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2176,
        0
      ],
      "id": "c6255be9-9e1e-4500-a7a8-860879f43934",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2176,
        448
      ],
      "id": "4537647b-f308-485d-9f93-2fda96aa9751",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "remap type and path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from txt files": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from pdf files": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If txt file": {
      "main": [
        [
          {
            "node": "Extract from txt files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from pdf files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "remap type and path 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remap type and path": {
      "main": [
        [
          {
            "node": "If txt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remap type and path 2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "policies store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isqs store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "isqs store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "isqs store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "policies store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "policies store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8b3467c9-dc3c-4457-bf45-6b12f89fdd93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92abea64a555bcee1d3b9086d5f7c8214960087d9308769d060a18d9f354d4c3"
  },
  "nodeGroups": [],
  "id": "ti1K5VLFlHS8p5Ov",
  "tags": []
}