workflows/02-isq-processing.json
{
  "name": "isq - processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "isq",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "7e8d0d5a-e56a-4516-9b55-c1c8d20b6772",
      "name": "Webhook",
      "webhookId": "cce77cf7-dafd-437a-8729-f267f978ab6d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e735e52f-a444-4d94-a426-287add4a0cb1",
              "name": "llm_provider",
              "value": "anthropic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "aed6498f-7d2c-4fb1-a611-fa5558b5616b",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "5fef7bf6-bd9d-4e12-98d8-ba38f2d12c8c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are processing an Information Security Questionnaire (ISQ).\n\nExtract every question from the document text below. Return ONLY a valid JSON array of strings. Each string is one complete question as it appears in the document. Do not include section headers, field labels, or instructions — only the questions.\n\nExample format:\n[\"Do you maintain a formal information security policy?\", \"Is MFA enforced for all staff?\"]\n\nReturn only the JSON array. No explanation, no markdown.\n\nDocument text:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "0b9dfdea-f5bb-4cc8-8ddc-47ec36faa10e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1184,
        288
      ],
      "id": "267bdd19-0373-4f85-8b29-a320d1d82e1d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "RwCDW0hKt5d5Ty39",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "Search Northstar Labs official policy documents including the Information Security Policy, Secure Software Development Policy, Acceptable Use Policy, Business Continuity and Disaster Recovery Policy, Incident Response Policy, and Data Protection Policy. Use this to find authoritative policy statements."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1472,
        400
      ],
      "id": "cb13c51e-b502-4740-a031-46a84d2dd017",
      "name": "search_policies"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "value": "policy_store",
          "mode": "list",
          "cachedResultName": "policy_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1360,
        560
      ],
      "id": "3d82f72a-3669-4311-8bb6-64391671ee47",
      "name": "policy_store"
    },
    {
      "parameters": {
        "description": "Search Northstar Labs' previous completed supplier security questionnaire responses. Use this to find how similar questions have been answered in past submissions."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1808,
        400
      ],
      "id": "7f84d63a-419b-4725-91b4-ca9626ed07ea",
      "name": "search_previous_isqs"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2944,
        96
      ],
      "id": "1a049785-f17d-462c-b1d5-405d83ba6ce1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "value": "isq_store",
          "mode": "list",
          "cachedResultName": "isq_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1760,
        544
      ],
      "id": "2bc06477-e69a-4252-a67e-0cc569e48e5d",
      "name": "isq_store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1616,
        768
      ],
      "id": "ecc93d8f-c5ac-442f-9c0f-828918308ca5",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "RwCDW0hKt5d5Ty39",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1632,
        560
      ],
      "id": "d94c8a37-5ec8-4bb7-918d-596013cb2519",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "RwCDW0hKt5d5Ty39",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output || $input.first().json.text || '';\n\n// Strip markdown code fences if the model wrapped the output\nconst cleaned = rawOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet questions;\ntry {\n  questions = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback: extract the first [...] block\n  const match = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    questions = JSON.parse(match[0]);\n  } else {\n    throw new Error(`Could not parse questions from LLM output: ${rawOutput}`);\n  }\n}\n\nif (!Array.isArray(questions) || questions.length === 0) {\n  throw new Error(`Expected array of questions, got: ${JSON.stringify(questions)}`);\n}\n\nreturn questions.map(q => ({ json: { question: String(q) } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "5a44ef94-45df-4d40-b6e2-02e1c13c8344",
      "name": "get_questions"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agentOutput = $input.item.json.output || '';\n\n  const cleaned = agentOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  let parsed;\n  try {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(match ? match[0] : cleaned);\n  } catch (e) {\n    parsed = {\n      question: '(unknown — agent output could not be parsed)',\n      answer: agentOutput,\n      confidence: 'low',\n      needs_review: true,\n      reason: 'Agent output could not be parsed as structured JSON — manual review required.',\n      sources: []\n    };\n  }\n\nparsed.needs_review = parsed.needs_review === true || parsed.needs_review === 'true';\n  \n  return { json: { ...parsed } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -32
      ],
      "id": "0c09928d-e56b-490c-a4d5-f5d1aaae9d73",
      "name": "format_response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('config').first().json.llm_provider }}",
                    "rightValue": "ollama",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9497bd9f-4018-496a-a738-828b27f5f78a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7765480f-2532-4200-9cf0-ff292c6c48ff",
                    "leftValue": "={{ $('config').first().json.llm_provider }}",
                    "rightValue": "anthropic",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1344,
        0
      ],
      "id": "8d0d7d5f-0435-4102-864b-cbceddd482f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "\n  You are completing a supplier information security questionnaire on behalf of Northstar Labs, a UK-based software development and AI solutions company\n  (48 employees, headquartered in Manchester, UK). Primary hosting provider: Microsoft Azure.\n\n  For each question, use your tools to search the knowledge base before answering:\n  - Use \"search_policies\" to search Northstar Labs' official policy documents\n  - Use \"search_previous_isqs\" to search how similar questions were answered before\n\n  Rules:\n  1. Always search before answering — do not guess\n  When calling a tool, the input must be a single plain string containing your search query — not a JSON object. For example, call search_policies with\n  the string \"information security policy\", not {\"query\": \"information security policy\"}.\n  2. Prefer policy documents over previous ISQ responses\n  3. Be concise and professional — this is a client/vendor security questionnaire\n  4. Never state facts not found in the retrieved documents\n  5. If retrieved content is insufficient, say so clearly\n\n  Respond with ONLY a valid JSON object. No markdown, no explanation outside the JSON:\n  {\n    \"question\": \"<repeat the exact question you were asked, word for word>\",\n    \"answer\": \"<professional answer, 1-3 sentences>\",\n    \"confidence\": \"<high|medium|low>\",\n    \"needs_review\": <true|false>,\n    \"reason\": \"<why needs_review is true, or null>\",\n    \"sources\": [\"<document filename>\"]\n  }\n\n  Confidence levels:\n  - high: direct policy statement found, optionally confirmed in a previous ISQ\n  - medium: relevant context found but indirect or partial\n  - low: little or no evidence found — set needs_review to true and explain in reason"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        96
      ],
      "id": "b8bc9e93-4c3d-46ee-b366-ce6657e55361",
      "name": "Anthropic Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are completing a supplier information security questionnaire on behalf of Northstar Labs, a UK-based software development and AI solutions company (48 employees, headquartered in Manchester,\nUK). Primary hosting provider: Microsoft Azure.\n\nFor each question, use your tools to search the knowledge base before answering:\n- Use \"search_policies\" to search Northstar Labs' official policy documents\n- Use \"search_previous_isqs\" to search how similar questions were answered before\n\nRules:\n1. Always search before answering — do not guess\n2. When calling a tool, the input must be a single plain string containing your search query — not a JSON object. For example, call search_policies with the string \"information security policy\", not {\"query\": \"information security policy\"}.\n3. Prefer policy documents over previous ISQ responses\n4. Be concise and professional — this is a client/vendor security questionnaire\n5. Never state facts not found in the retrieved documents\n6. If retrieved content is insufficient, say so clearly\n\n  Respond with ONLY a valid JSON object. No markdown, no explanation outside the JSON:\n  {\n    \"question\": \"<repeat the exact question you were asked, word for word>\",\n    \"answer\": \"<professional answer, 1-3 sentences>\",\n    \"confidence\": \"<high|medium|low>\",\n    \"needs_review\": <true|false>,\n    \"reason\": \"<why needs_review is true, or null>\",\n    \"sources\": [\"<document filename>\"]\n  }\n\n  Confidence levels:\n  - high: direct policy statement found, optionally confirmed in a previous ISQ\n  - medium: relevant context found but indirect or partial\n  - low: little or no evidence found — set needs_review to true and explain in reason"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        -96
      ],
      "id": "87899be6-4369-4c4e-94a7-996638e379dd",
      "name": "ollama agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        1376,
        272
      ],
      "id": "902e3d7c-7c4b-4195-b388-060e636eba32",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "dhbOZA383l3FIzA1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agentOutput = $input.item.json.output || '';\n\n  const cleaned = agentOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  let parsed;\n  try {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(match ? match[0] : cleaned);\n  } catch (e) {\n    parsed = {\n      question: '(unknown — agent output could not be parsed)',\n      answer: agentOutput,\n      confidence: 'low',\n      needs_review: true,\n      reason: 'Agent output could not be parsed as structured JSON — manual review required.',\n      sources: []\n    };\n  }\n\nparsed.needs_review = parsed.needs_review === true || parsed.needs_review === 'true';\n  \n  return { json: { ...parsed } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        144
      ],
      "id": "dbf36f4a-97d8-4363-98c6-fc1d0f418efa",
      "name": "format_response_anthropic"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2544,
        96
      ],
      "id": "21ad0299-7dd6-404f-9056-16ac32cec479",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const answers = $input.all().map(item => item.json);\n\n  return [{\n    json: {\n      processed_at: new Date().toISOString(),\n      total_questions: answers.length,\n      needs_review_count: answers.filter(a => a.needs_review).length,\n      answers\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        96
      ],
      "id": "a485dee5-60d4-4548-9762-b708ca4e2af9",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ollama agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "get_questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_policies": {
      "ai_tool": [
        [
          {
            "node": "ollama agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Anthropic Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "policy_store": {
      "ai_vectorStore": [
        [
          {
            "node": "search_policies",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "search_previous_isqs": {
      "ai_tool": [
        [
          {
            "node": "ollama agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Anthropic Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "isq_store": {
      "ai_vectorStore": [
        [
          {
            "node": "search_previous_isqs",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "isq_store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "policy_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "search_policies",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "search_previous_isqs",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "get_questions": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ollama agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ollama agent": {
      "main": [
        [
          {
            "node": "format_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Anthropic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Agent": {
      "main": [
        [
          {
            "node": "format_response_anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_response_anthropic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36d0a174-cfff-451b-8d16-c7d6a9e1c98c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92abea64a555bcee1d3b9086d5f7c8214960087d9308769d060a18d9f354d4c3"
  },
  "nodeGroups": [],
  "id": "D9ymbHKughdrpOKf",
  "tags": []
}